@import '../animation/Revolve.css';
@import '../animation/Rotate.css';

.orbit {
  position: absolute;

  aspect-ratio: 1;

  border: solid 0.01rem gray;
  border-radius: 50%;

  animation-name: revolve;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.planet {
  position: absolute;
  top: 50%;

  aspect-ratio: 1;

  border-radius: 50%;

  animation-name: rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}