@import '../animation/Revolve.css';

.earth-orbit {
  position: absolute;
  top: -100%;
  left: -100%;

  width: 30vw;
  aspect-ratio: 1;

  animation: revolve 365s linear infinite;
  transform-origin: center;
}

.earth {
  position: absolute;

  transform: rotate(23deg);

  width: 5vw;
  aspect-ratio: 1;

  border-radius: 50%;
  
  background: url(../../assets/earth.png);
  background-size: 100% 100%;

  animation: revolve 1s linear infinite;
}
