.jupiter-orbit {
  top: -500%;
  left: -500%;

  width: 50rem;

  animation-duration: 4332s;
}

.jupiter {
  width: 5rem;

  border-radius: 50%;

  background: url(../../assets/jupiter.png);
  background-size: 100% 100%;

  animation-duration: 0.375s;
}
