@import '../../animation/Rotate.css';

.earth-orbit {
  --animation-duration: 365s;

  width: 10%;
}

.earth {
  width: 16%;
}

.earth::before {
  --animation-duration: 1s;

  content: '';
  position: absolute;

  width: 100%;
  aspect-ratio: 1;

  border-radius: 50%;

  background: url(../../../assets/earth.png);
  background-size: 100% 100%;

  animation-name: revolve;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.moon-orbit {
  --animation-duration: 1s;
  width: 115%;

  top: -10%;
  left: -10%;

  animation-name: revolve;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.moon {
  transform: translate(-50%, -50%);

  width: 20%;

  background: url(../../../assets/moon.png);
  background-size: 100% 100%;

  animation-name: none;
}
