@import '../../animation/Rotate.css';

.earth-orbit {
  --animation-duration: 365s;

  top: -150%;
  left: -150%;

  width: 20rem;
}

.earth {
  position: absolute;
  top: 50%;

  width: 3rem;
  aspect-ratio: 1;
}

.earth::before {
  --animation-duration: 1s;

  content: '';
  position: absolute;

  width: 3rem;
  aspect-ratio: 1;

  border-radius: 50%;

  background: url(../../../assets/earth.png);
  background-size: 100% 100%;

  animation-name: rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.moon-orbit {
  --animation-duration: 1s;
  top: -70%;
  left: -70%;

  width: 4rem;
}

.moon {
  transform: translate(-50%, -50%);

  width: 1rem;

  background: url(../../../assets/moon.png);
  background-size: 100% 100%;
}
