.jupiter-orbit {
  --animation-duration: 4332s;

  width: 21%;
}

.jupiter {
  --animation-duration: 0.375s;

  width: 14%;

  background: url(../../../assets/jupiter.png);
  background-size: 100% 100%;
}
