.jupiter-orbit {
  top: -400%;
  left: -400%;

  width: 45rem;

  animation-duration: 4332s;
}

.jupiter {
  width: 6rem;

  border-radius: 50%;

  background: url(../../../assets/jupiter.png);
  background-size: 100% 100%;

  animation-duration: 0.375s;
}
