.mars-orbit {
  top: -250%;
  left: -250%;

  width: 30rem;

  animation-duration: 687s;
}

.mars {
  width: 2rem;

  background: url(../../../assets/mars.png);
  background-size: 100% 100%;

  animation-duration: 1s;
}
