.mercury-orbit {
  --animation-duration: 88s;

  width: 4.5%;
}

.mercury {
  --animation-duration: 59s;

  width: 10%;

  background: url(../../../assets/mercury.png);
  background-size: 100% 100%;
}
