.mercury-orbit {
  --animation-duration: 88s;

  top: -25%;
  left: -25%;

  width: 7.5rem;
}

.mercury {
  --animation-duration: 59s;

  width: 1rem;

  background: url(../../../assets/mercury.png);
  background-size: 100% 100%;
}
