.neptune-orbit {
  --animation-duration: 60182s;

  width: 40%;
}

.neptune {
  --animation-duration: 0.6s;

  width: 5%;

  background: url(../../../assets/neptune.png);
  background-size: 100% 100%;
}
