.saturn-orbit {
  --animation-duration: 10759s;

  width: 28%;
}

.saturn {
  --animation-duration: 0.4s;

  width: 13%;

  background: url(../../../assets/saturn.png);
  background-size: 100% 100%;
}
