.saturn-orbit {
  top: -500%;
  left: -500%;

  width: 55rem;

  animation-duration: 10759s;
}

.saturn {
  width: 6rem;

  background: url(../../../assets/saturn.png);
  background-size: 100% 100%;

  animation-duration: 0.4s;
}
