.saturn-orbit {
  --animation-duration: 10759s;

  top: -500%;
  left: -500%;

  width: 55rem;
}

.saturn {
  --animation-duration: 0.4s;

  width: 6rem;

  background: url(../../../assets/saturn.png);
  background-size: 100% 100%;
}
