@import '../../animation/Rotate.css';

.sun {
  --animation-duration: 27s;

  position: absolute;
  width: 3%;
  aspect-ratio: 1;

  border-radius: 50%;
  box-shadow:
    0 0 2rem red,
    0 0 4rem orange;

  background: url(../../../assets/sun.jpg);
  background-size: 200% 100%;

  animation-name: revolve;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
