.uranos-orbit {
  --animation-duration: 30689s;

  width: 34%;
}

.uranos {
  --animation-duration: 0.7s;

  width: 6%;

  background: url(../../../assets/uranos.png);
  background-size: 100% 100%;
}
