.venus-orbit {
  --animation-duration: 225s;

  top: -80%;
  left: -80%;

  width: 13rem;
}

.venus {
  --animation-duration: 117s;

  width: 2rem;

  background: url(../../../assets/venus.png);
  background-size: 100% 100%;
}
